.layout_padding {
padding-top: 90px;
padding-bottom: 0px;
}

.link{
	color: #ffffff;
}

.recetas_sec {
width: 100%;
float: left;
background-color: #f4db31;
height: auto;
margin-top: 90px;
padding-bottom: 50px;
}

.recetas_sec_2 {
width: 100%;
float: left;
}

.our_text{
width: 100%;
float: left;
text-align: center;
font-size: 50px;
color: #fefefe;
font-weight: bold;
}

.rectas_main{
width: 100%;
float: left;
background-color: #fefefe;
height: auto;
margin-top: 70px;
}

.round_1 {
width: 32%;
margin: 0 auto;
font-size: 24px;
color: #fefefe;
height: 70px;
background: #161c1e;
display: block;
text-align: center;
border-radius: 60px;
padding-top: 12px;
position: relative;
top: -35px;
}

.carol_text{
width: 100%;
float: left;
text-align: center;
color: #2b3436;
font-size: 24px;
}

.reader_text{
width: 100%;
float: left;
text-align: center;
color: #2b3436;
font-size: 20px;
margin-left: 0px;
}

.images_2{
width: 100%;
float: left;
text-align: center;
}

.footer_section_2 {
width: 100%;
float: left;
padding-top: 40px;
}

.section_footer {
width: 100%;
float: left;
background-color: #292828;
height: auto;
padding-top: 30px;
padding-bottom: 30px;
}

.account_text {
width: 100%;
float: left;
font-size: 28px;
color: #ebebeb;
font-weight: bold;
padding: 25px 0px;
}

.ipsum_text{
font-size: 12pt;
color: #ebebeb;
margin-left: 0px;
}

.account_text {
width: 100%;
float: left;
font-size: 28px;
color: #ebebeb;
font-weight: bold;
padding: 25px 0px;
}

.fb_text {
font-size: 12pt;
color: #ebebeb;
padding-left: 16px;
}

.adderess_text {
width: 100%;
float: left;
font-size: 28px;
color: #ebebeb;
font-weight: bold;
padding: 25px 0px;
}

.img-fluid{
width: 100%;
}

.owl-item{
width: 250px;
}

.banner_sec {
width: 100%;
float: left;
background-color: #ffffff;
height: auto;
margin-top: 50px;
padding-bottom: 50px;
}.layout_padding {
padding-top: 90px;
padding-bottom: 0px;
}

.recetas_sec {
width: 100%;
float: left;
background-color: #f4db31;
height: auto;
margin-top: 90px;
padding-bottom: 50px;
}

.recetas_sec_2 {
width: 100%;
float: left;
}

.our_text{
width: 100%;
float: left;
text-align: center;
font-size: 50px;
color: #fefefe;
font-weight: bold;
}

.rectas_main{
width: 100%;
float: left;
background-color: #fefefe;
height: auto;
margin-top: 70px;
}

.round_1 {
width: 32%;
margin: 0 auto;
font-size: 24px;
color: #fefefe;
height: 70px;
background: #161c1e;
display: block;
text-align: center;
border-radius: 60px;
padding-top: 12px;
position: relative;
top: -35px;
}

.carol_text{
width: 100%;
float: left;
text-align: center;
color: #2b3436;
font-size: 24px;
}

.reader_text{
width: 100%;
float: left;
text-align: center;
color: #2b3436;
font-size: 20px;
margin-left: 0px;
}

.images_2{
width: 100%;
float: left;
text-align: center;
}

.footer_section_2 {
width: 100%;
float: left;
padding-top: 40px;
}

.section_footer {
width: 100%;
float: left;
background-color: #292828;
height: auto;
padding-top: 30px;
padding-bottom: 30px;
margin-top: 90px;
}

.account_text {
width: 100%;
float: left;
font-size: 28px;
color: #ebebeb;
font-weight: bold;
padding: 25px 0px;
}

.fb_text {
font-size: 12pt;
color: #ebebeb;
padding-left: 16px;
}



.adderess_text {
width: 100%;
float: left;
font-size: 28px;
color: #ebebeb;
font-weight: bold;
padding: 25px 0px;
}

.img-fluid{
width: 100%;
}

.owl-item{
width: 250px;
}

.banner_sec {
width: 100%;
float: left;
background-color: #ffffff;
height: auto;
margin-top: 50px;
padding-bottom: 50px;
}.layout_padding {
padding-top: 90px;
padding-bottom: 0px;
}

.recetas_sec {
width: 100%;
float: left;
background-color: #f4db31;
height: auto;
margin-top: 90px;
padding-bottom: 50px;
}

.recetas_sec_2 {
width: 100%;
float: left;
}

.our_text{
width: 100%;
float: left;
text-align: center;
font-size: 50px;
color: #fefefe;
font-weight: bold;
}

.rectas_main{
width: 100%;
float: left;
background-color: #fefefe;
height: auto;
margin-top: 70px;
}

.round_1 {
width: 32%;
margin: 0 auto;
font-size: 24px;
color: #fefefe;
height: 70px;
background: #161c1e;
display: block;
text-align: center;
border-radius: 60px;
padding-top: 12px;
position: relative;
top: -35px;
}

.carol_text{
width: 100%;
float: left;
text-align: center;
color: #2b3436;
font-size: 24px;
}

.reader_text{
width: 100%;
float: left;
text-align: center;
color: #2b3436;
font-size: 20px;
margin-left: 0px;
}

.images_2{
width: 100%;
float: left;
text-align: center;
}

.footer_section_2 {
width: 100%;
float: left;
padding-top: 40px;
}



.section_footer {
width: 100%;
float: left;
background-color: #292828;
height: auto;
padding-top: 30px;
padding-bottom: 30px;
}



.account_text {
width: 100%;
float: left;
font-size: 28px;
color: #ebebeb;
font-weight: bold;
padding: 25px 0px;
}



.fb_text {
font-size: 12pt;
color: #ebebeb;
padding-left: 16px;
}



.adderess_text {
width: 100%;
float: left;
font-size: 28px;
color: #ebebeb;
font-weight: bold;
padding: 25px 0px;
}



.img-fluid{
width: 100%;
}



.owl-item{
width: 250px;
}



.banner_sec {
width: 100%;
float: left;
background-color: #ffffff;
height: auto;
margin-top: 50px;
padding-bottom: 50px;
}



.copyright_section{
width: 100%;
float: left;
background-color: #ffffff;
height: auto;
}



.copyright {
width: 100%;
float: left;
font-size: 18px;
color: #000;
text-align: center;
margin-left: 0;
}



.email_text{
width: 100%;
float: left;
font-size: 12pt;
color: #eceaea;
background-color: #ffffff;
padding: 10px;
border-radius: 5px;
border: 0px;
}



.subscribr_bt {
width: 60%;
float: left;
font-size: 16pt;
color: #eceaea;
background-color: #fecf3d;
padding: 5px 0px;
border: 0px;
text-align: center;
margin-top: 20px;
font-weight: 600;
border-radius: 5px;
}



.adderess_text {
width: 100%;
float: left;
font-size: 28px;
color: #ebebeb;
font-weight: bold;
padding: 25px 0px;
}



.ipsum_text{
font-size: 12pt;
color: #ebebeb;
margin-left: 0px;
}



.account_text {
width: 100%;
float: left;
font-size: 28px;
color: #ebebeb;
font-weight: bold;
padding: 25px 0px;
}

